<div id="<%= dom_id admin_user %>">
  <p>
    <strong>Username:</strong>
    <%= admin_user.username %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= admin_user.password_digest %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= admin_user.role %>
  </p>

</div>
