<% content_for :title, "Editing admin user" %>

<h1>管理者情報を編集する</h1>

<%= render "form", admin_user: @admin_user %>

<br>

<div>
  <%= link_to "詳細", @admin_user %> |
  <%= link_to "管理者一覧へ戻る", admin_users_path %>
</div>
