<% content_for :title, "管理者を新規作成する" %>

<h1>管理者を新規作成する</h1>

<%= render "form", admin_user: @admin_user %>

<br>

<div>
  <%= link_to "Back to admin users", admin_users_super_admin_dashboard_path %>
</div>
